body {
	padding: 5vh 70vh 5vh 10vh;
	background: #000002;
}

h1 {
	font-family: "IBMPlexMono-SemiBold";
	font-size: 3vh;
	color: #ed0181;
}

p {
	font-family: "IBMPlexMono-Light";
	font-size: 2vh;
	color: #fff;
}

a {
	font-family: "IBMPlexMono-SemiBold";
	font-size: 2vh;
	text-decoration: none;
	color: #ff3914;
}