body {
	padding: 10vh 50vh 5vh 10vh;
	background: #000002;
}

h1 {
	font-family: "IBMPlexMono-SemiBold";
	font-size: 2.5vh;
	color: #ed0181;
}

p {
	font-family: "IBMPlexMono-Light";
	font-size: 1.5vh;
	color: #fff;
}

