body {
	padding: 5vh 50vh 5vh 5vh;
	background: #fff;
}

h1 {
	font-family: "IBMPlexMono-SemiBold";
	font-size: 2vh;
	color: #ff3914;
}

p {
	font-family: "IBMPlexMono-Light";
	font-size: 1.25vh;
	color: #000;
}

a {
	font-family: "IBMPlexMono-SemiBold";
	font-size: 1.25vh;
	text-decoration: none;
	color: #ed0181;
}

strong {
	font-family: "IBMPlexMono-SemiBold";
	font-size: 1.25vh;
	text-decoration: none;
	color: #ed0181;	
}